.list-page {
  .el-input {
    margin-bottom: 0.5rem;
    &__inner {
      padding: 1rem;
      border-radius: 10px;
      font-size: 0.8rem;
      color: #b3b3b3;
      background-color: #e6e6e6;
      &:focus {
        border-color: #e6e6e6;
      }
    }
  }
  .person {
    padding: 0.5rem 0;
    border-bottom: 0.02rem solid #e6e6e6;
    font-size: 0.8rem;
  }
  a {
    text-decoration: none;
    color: #000;
  }
}

.list-header {
  padding: 0 0.66rem;
  margin-bottom: 0.66rem;

  &-title {
    padding: 0.25rem 0;
    font-size: 1.42rem;
    color: #233e79;
  }

  &-p {
    padding: 0.12rem 0;
    font-size: 0.92rem;
    color: #233e79;
  }
}

.list-container {
  padding: 0 0.66rem;
}