/*
 * 按钮效果
 *
 */

%btnStyle{
    padding:6px 8px;
    cursor: pointer;
    display: inline-block;
}


/*
 * 只有边框色
 * 鼠标置上后颜色改变
 */

// 提交按钮

.submit{
    border:1px solid #00adb5;
    border-radius:5px;
    @extend %btnStyle;

    &:hover{
        background-color:#00adb5;
        color: #fff;
    }
} 

// 修改按钮

.change{
    border:1px solid #00adb5;
    border-right:0;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    @extend %btnStyle;

    &:hover{
        background-color:#00adb5;
        color: #fff;
    }
}

// 删除按钮

.delete{
    border:1px solid red;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    @extend %btnStyle;

    &:hover{
        background-color:red;
        color: #fff;
    }
}

/*
 * 实心色
 * 
 */

.blue-Btn{
    padding:8px 16px;
    font-size: 18px;
    background-color: #00adb5;
    border:0px;
    color: #fff;
    letter-spacing: 2px;
    border-radius:6px;
    cursor: pointer;
}
// 隐藏的上传文件按钮
   
#uploadBtn{
    visibility:hidden;
    height:0;
    width:0;
}