*{
	padding:0;
	margin: 0;
	box-sizing:border-box;
}

body{
	width: 100%;
	min-width: 1170px;
	font-family: PingFang TC,Avenir Next,Helvetica,Arial,Hiragino Sans GB,Microsoft YaHei,sans-serif;
}
  
.container{
	width: 100%;
	height: 100vh;
	overflow-y:auto;
	padding:20px 20px 20px 23%;	
}

.container-h{
	font-size: 26px;
	font-weight:400;
	margin-bottom: 18px;
	
	span{
		color: #41b35d;
		padding:6px 0px;
		text-decoration: underline;
	}
}

.container-p{
	line-height: 32px;
	padding:6px 0;
	font-size: 18px;
}

.view{
	max-height:250px;
	margin-right:32px;
	display:block;
	float:left;
}

.item{
	width: 560px;
	padding:12px 0;
	margin:0 auto;
	text-align: center;
}

#editor{
	margin: 0 auto;
}

.article{
	width:500px;
	margin: 30px auto;

	input{
		width: 400px;
        padding:12px;
        border:1px solid #ccc;
        border-radius:3px;
	}

	label {
		font-size: 20px;
	}
}