.login{
	width:100%;
	height:100vh;
	background:url(./bg.jpg) 100% 100% no-repeat;
	display:flex;
	align-items:center;
	justify-content:center;
}

.login-box{
	height:320px;
	width:400px;
	padding:0 32px;
	position:relative;
	border-radius:5px;
	background-color:rgba(255, 255, 255, 0.72);
}

.input-item{
	width:100%;
	padding:12px;
	border:1px solid #eee;
	border-radius:5px;
	margin-bottom:32px;
}

.login-h{
	font-weight:400;
	font-size:24px;
	font-family:"Microsoft YaHei","simsun","Helvetica Neue",Arial,Helvetica,sans-serif;
	color:#333;
	text-align:center;
	padding:16px;
	margin-bottom:16px;
	z-index:1000;
}

.submit-btn{
	width:100%;
	padding:12px;
	border-radius:5px;
	border:none;
	font-size:22px;
	letter-spacing:6px;
	color:#fff;
	background-color:#0ae;
	cursor:pointer;
}