/*
 * 表格样式
 *
 */

table{
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%; 
    margin:16px auto;

    // 设置隔行背景色
    tr{
        &:nth-child(2n+1){
            background-color:#eee;
        }
    }

    td{
        padding: 6px;
        max-width: 300px;
        min-width: 88px;
        max-height: 100px;
        position:relative;

        img{
            max-height:50px;
            max-width: 180px; 
        }
    }

    th{
        padding: 12px;
        background-color:#fff;
        border-bottom: 1px solid #ccc;
        text-align: left;
    }

    input, textarea{
        width: 100%;
        padding:12px;
        border:1px solid #ccc;
        border-radius:3px;
    }

    input[type=radio]{
        width: 5px;
    }

    textarea{
        height: 32px;
    } 
}

// 修改栏
.tr-change{
    border-top: 1px solid #41b35d;
    border-bottom: 1px solid #41b35d;
}

// 上传文件
label[for=uploadBtn]{
    cursor: pointer;
}