#mask{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:3000;
}

.mask-contain{
	width:100%;
	height:100%;
	position:relative;
}

.mask-content{
	position: absolute;
	width: 300px;
	height: 150px;
	padding:40px 50px;
	top: 150%;
	left: 50%;
	margin-left: -150px;
	margin-top: -75px;
	background-color: #41b35d;
	border: 10px solid #fff;
	opacity: 0.92;
	border-radius:10px;
	z-index: 3000;
	text-align: center;
	transition: .5s all ease-out;

	p{
		line-height: 50px;
		font-size: 24px;
		color: #fff;
	}
}