*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

li{
	list-style:none;
}

a{
	color:#333;
	text-decoration:none;
	outline:none;
}

body{
	font-size:14px;
	line-height:1.5;
	font-family:poppin,"PingFang SC",Tahoma,Arial,微软雅黑,sans-serif;
	color:#333;
}