.login-page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 11%;
  background-color: #233e79;
  color: #fff;

  .login-top {
    flex: 1 1 30%;
    padding-top: 16vh;
    padding-bottom: 1rem;
  }
  .login-medium {
    flex: 1 1 45%;
  }
  .login-bottom {
    flex: 1 1 25%;
    text-align: center;

    &-img {
      max-width: 5rem;
    }
  }

  .logo {
    max-width: 2.5rem;
    margin-bottom: 0.8rem;
  }

  .login-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.4rem 0.6rem;
    margin-bottom: 1.32rem;
    border-radius: 0.3rem;
    border: 0px;
    font-size: 0.88rem;

    &:focus {
      outline: none;
    }
  }

  .login-form {
    position: relative;
  }

  .login-button {
    position: absolute;
    right: 0.30rem;
    bottom: 0.30rem;
    max-height: 1.12rem;
  }

  .login-title {
    padding: 0.2rem 0;
    font-size: 1.16rem;
  }

  .login-span {
    margin-left: 0.06rem;
    font-size: 0.64rem;
  }

  .login-copyright {
    padding: 0.2rem 0;
    color: #0d2451;
    font-size: 0.4rem;
  }
}